.form_border {
	BORDER-RIGHT: #6795b4 1px solid; 
	BACKGROUND: #fff; 
	BORDER-LEFT: #6795b4 1px solid;
}
.form_in {
	LINE-HEIGHT: 120%;
}

/*分隔线*/
.vsplit_line {
	BACKGROUND: url(../images/box_vsplit.gif);
}
/*描述内容*/
.describe_txt {
	COLOR: #7e7e7e; 
	LINE-HEIGHT: 150%;
}

.help_topic_desc { 
	PADDING: 8px 10px; 
	TEXT-ALIGN: left;
}
.help_topic_desc A {
	COLOR: #000; 
	TEXT-DECORATION: underline;
}
.help_topic_desc_hidden {
	OVERFLOW: hidden; 
	cursor: pointer;
	COLOR: #999999; 
	LINE-HEIGHT: 150%;
	TEXT-ALIGN: right;
}
.help_topic_title {
	cursor: pointer;
}

.tdlist {                        
	padding: 3px 0 0 6px;
	height: 26px;
	border-bottom: 1px solid #ccc;
	background: #fff;
	font-family: arial, verdana, tahoma, '宋体', sans-serif;
	font-size: 12px;
}

.nonetdlist {                        
	font-family: arial, verdana, tahoma, '宋体', sans-serif;
	font-size: 12px;
}

.menu2 {border-bottom:1px #c5d7e2 solid;padding:5px 0 4px 0;}
.menu2 a {text-decoration:none;padding:5px;}
.menu2 a:hover {text-decoration: none; background-color: #c5d7e2;color:#fff;}
.abg {background:#fff;color:#000;font-weight:bold;border-top:1px #c5d7e2 solid;border-left:1px #c5d7e2 solid;border-right:1px #c5d7e2 solid;}

.editTable td {
	height: 30px;
}

.wrong {
	margin: 0 0 0 5px;
	padding:0 10px 0 18px;
	color:red;
	background: #FFF2E9 url(../images/r_wrong.gif) no-repeat 4px 1px;
	border: #FF6600 1px solid;
}

.mainWindows {
	padding:12px 10px;
}


#divDialog {
	width: 300px;
	border: 1px solid #ddd;
	background:#FFF;
	margin: 5px;
	padding: 10px;
	font-size: 14px;
}

#divLoading {
	POSITION: absolute;
	Z-INDEX: 2;
	right:10px; 
	padding:3px 10px;
	background:#FFF;
	border: #DDD 1px solid;
	color: red;
}