.form_border {
	BORDER-RIGHT: #6795b4 1px solid; 
	BACKGROUND: #fff; 
	BORDER-LEFT: #6795b4 1px solid;
}
.form_in {
	LINE-HEIGHT: 120%;
}

/*分隔线*/
.vsplit_line {
	BACKGROUND: url(../images/box_vsplit.gif);
}
/*描述内容*/
.describe_txt {
	COLOR: #7e7e7e; 
	LINE-HEIGHT: 150%;
}

.help_topic_desc { 
	PADDING: 8px 10px; 
	TEXT-ALIGN: left;
}
.help_topic_desc A {
	COLOR: #000; 
	TEXT-DECORATION: underline;
}
.help_topic_desc_hidden {
	OVERFLOW: hidden; 
	cursor: pointer;
	COLOR: #999999; 
	LINE-HEIGHT: 150%;
	TEXT-ALIGN: right;
}
.help_topic_title {
	cursor: pointer;
}

.tdlist {                        
	padding: 3px 0 0 6px;
	height: 26px;
	border-bottom: 1px solid #ccc;
	background: #fff;
	font-family: arial, verdana, tahoma, '宋体', sans-serif;
	font-size: 12px;
}

.nonetdlist {                        
	font-family: arial, verdana, tahoma, '宋体', sans-serif;
	font-size: 12px;
}

.menu2 {border-bottom:1px #c5d7e2 solid;padding:5px 0 4px 0;}
.menu2 a {text-decoration:none;padding:5px;}
.menu2 a:hover {text-decoration: none; background-color: #c5d7e2;color:#fff;}
.abg {background:#fff;color:#000;font-weight:bold;border-top:1px #c5d7e2 solid;border-left:1px #c5d7e2 solid;border-right:1px #c5d7e2 solid;}

.editTable {}
.editTable td {
	height: 30px;
}

.wrong {
margin: 0 0 0 5px;
padding:0 10px 0 18px;
color:red;
background: #FFF2E9 url(../images/r_wrong.gif) no-repeat 4px 1px;
border: #FF6600 1px solid;
}

.mainWindows {
	padding:12px 10px;
}


#divDialog {
	width: 300px;
	POSITION: absolute;
	Z-INDEX: 4;
	TEXT-ALIGN: left;
	background: #FFF;
	border: 1px solid #ddd;
}
#divDialog #DialogTitle {
	background-color: #E5FFE1;
}
#divDialog #DialogTitle img {
	background-color: #390;
	vertical-align: middle;
	width: 10px;
	height: 23px;
}
#divDialog #DialogContent {
	padding: 13px 20px;
	background: #FFF;
}
#divDialog #DialogCancel {
	border: 0;
	BORDER-TOP: #EEE 1px solid;
	BORDER-RIGHT: #CCC 1px solid;
	BORDER-BOTTOM: #CCC 1px solid;
	BORDER-LEFT: #EEE 1px solid;
	background: #FFF;
	margin-bottom: 3px;
}

#divModal {
	BACKGROUND-COLOR: white;
	LEFT: 0px; 
	POSITION: absolute; 
	TOP: 0px; 
	Z-INDEX: 3;
}

#divLoading {
	POSITION: absolute;
	Z-INDEX: 2;
	right:10px; 
	padding:3px 10px;
	background:#FFF;
	border: #DDD 1px solid;
	color: red;
}

#NBArticlePlacard {
	margin-left: 10px;
	BORDER: #c8d9e4 1px solid;
	width: 650px;
	height: 50px;
	BACKGROUND: #FFF;
	PADDING: 1px 3px;
}