<!--
#center {
	WIDTH: 1000px;
	MARGIN-RIGHT: auto;
	MARGIN-LEFT: auto;
}
.left {
	float: left;
}
.right {
	float: right;
}
.separator {
	clear: both;
}


#head {
	height: 81px;
}
#head #NBArticlePlacard {
	MARGIN: 2px 5px;
	height: 53px;
}
#head #NBArticlePlacard .title{
	font-weight:bold;
}
#head #NBArticlePlacard  .content{
	font-style:italic;
	font-size: 11px;
}
#head #menu {
	width: 990px;
	MARGIN: 5px 1px 0 1px;
}
#head #menu .title{
	background-color: #79CEFF;
	padding: 5px;
	MARGIN-right: 8px;
	text-decoration:none;
	font-size: 14px;
	color: #000;
}

#subMenu {
	MARGIN-left: 2px;
	height: 20px;
	background-color: #FFF;
	border-top:1px #79CEFF solid;
	border-left:1px #79CEFF solid;
}

.nav {
	border-bottom:1px #c5d7e2 solid;
	padding: 3px 0;
	TEXT-ALIGN: left;
	font-size: 12px;
}
.nav span {
	padding:5px 10px 4px 10px;
	cursor:pointer;
	color: #949290;
	border-top:1px #c5d7e2 solid;
	border-left:1px #c5d7e2 solid;
	border-right:1px #c5d7e2 solid;
}
.nav span a{
	text-decoration:none;
	color: #949290;
}
.nav .hover {
	background-color: #EEE;
	color:#7A8180;
}
.nav .abg {
	background:#fff;
	color:#0066CC;
	font-weight:bold;
	border-top:1px #c5d7e2 solid;
	border-left:1px #c5d7e2 solid;
	border-right:1px #c5d7e2 solid;
}

#contentDiv {
	background: #fff;
	width: 99.8%;
	border-bottom:1px #c5d7e2 solid;
	border-left:1px #c5d7e2 solid;
	border-right:1px #c5d7e2 solid;
}

#leftChannel {
	margin-right: 10px;
	width: 100%;
}
#leftChannel ul {
	LIST-STYLE-TYPE: none;
	padding: 0;
	margin:0;
}
#leftChannel li {
	margin:0;
	border-bottom:1px #CDDEF3 solid;
	border-left:1px #CDDEF3 solid;
	border-right:1px #CDDEF3 solid;
	width: 100%;
}
#leftChannel .title {
	background: #EBF7FC;
	font-size: 12px;
	font-weight:bold;
	color: #366AB3;
	padding: 2px 0;
	TEXT-ALIGN: center;
	LINE-HEIGHT:27px;
}
#leftChannel .item {
	background: #FFF;
	color: #333;
	padding: 4px 0;
	TEXT-ALIGN: left;
}

-->