@charset "utf-8";

body {
	font-family: '宋体','新宋体',arial,verdana,sans-serif;
	font-size: 12px;
	background: #FFF;
	margin: 0;
	padding: 0;
}
#center {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
.left {
	float: left;
}
.right {
	float: right;
}
.hidden {
	display: none;
}
.clear {
	clear: both;
}

a {
	color: #0365BF; 
	text-decoration: none;
}
a:hover {
	color: #0099FF; 
	text-decoration: underline;
	/*text:expression(target="_blank");*/
}

img {
	border: 0;
}
table {
	border: 0;
	padding: 0;
	margin: 0;
}
form {
	border: 0;
	padding: 0;
	margin: 0;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
