<script type="text/javascript">
//FormEdit.debug = true;
FormEdit.formName = "form1";
FormEdit.postUrl = "./admin_module.asp";
FormEdit.dateVal = "action=add";
if (typeof(tabFormID[currentTab]) != "undefined")
{
	FormEdit.dateVal += "&ID=" + tabFormID[currentTab];

	objForm.doResponseMethod = getEditPostResult;
	editSuccessUrl = './templates/admin_module_list.htm';
}
else{
	editDateVal = "";
	objForm.doResponseMethod = getAddPostResult;
}
setTabTitle(currentTab, tabTitle[204]);
FormEdit.doResponseMethodOther = "sw_help_topic_init()";

function initTabContent(){
	FormEdit.start();
}

</script>

<form id="form1" name="form1" method="get" onsubmit="return false;">

<input type="hidden" name="">
<input type="hidden" name="ID">
<input type="hidden" name="action" value="save">

<div class="mainWindows">
	<div>
		<fieldset><legend><span id="help_topic_icon" onclick="sw_help_topic();"><span id="Language_OperationNotice"></span></span></legend>
        <div id="help_topic"><span id="Language_Content_Add_Help"></span></div>
        </fieldset>
	</div>

	<div style="margin-top: 5px;">
		<fieldset>
			<legend id="Language_Theme_ModuleEdit"></legend>
			<div class="left" style="margin-right: 5px;">
				<table class="edittable">
				  <tr>
					<td align="right">&nbsp;<span id="Language_Theme_ModuleName"></span></td>
					<td align="left">&nbsp;<input type="text" name="title" size="77" dataType="Require"></td>
				  </tr>
				  <tr>
					<td align="left" colspan="2" valign="top"><textarea name="code" id="code" cols="28" rows="2" wrap="VIRTUAL" dataType="Require"></textarea></td>
				  </tr>
			  </table>
		  </div>
		  <div class="left">
			  <table class="edittable">
				  <tr>
					<td align="right"><span id="Language_Theme_ModuleType"></span></td>
					<td align="left">&nbsp;<select name="type" dataType="Require"></select></td>
				  </tr>
				  <tr>
					<td align="right" valign="top"><span id="Language_Theme_ModuleDesc"></span></td>
					<td align="left">&nbsp;<textarea name="desc" id="desc" cols="28" rows="8" wrap="VIRTUAL"></textarea></td>
				  </tr>
			  </table>
		  </div>

		  <div class="separator"></div>

		  <div style="margin-top: 5px;TEXT-ALIGN: left;">&nbsp;&nbsp;<input type="button" name="btnSubmit" id="btnSubmit" onclick="javascript:return checkData('Content');">&nbsp;<input type="button" name="btnReturn" id="btnReturn" onclick="javascript:ajaxChangeRightContent('./templates/admin_modult_list.htm','pageContent');"></div>
		</fieldset>
	</div>
</div>

</form>
