<script type="text/javascript">
$("quickMenu1").innerHTML = "&nbsp;" + mainMenu[0].link[0] + "&nbsp;";
$("quickMenu2").innerHTML = mainMenu[1].link[1];
$("quickMenu3").innerHTML = mainMenu[4].link[3];
$("quickMenu4").innerHTML = mainMenu[4].link[0];
$("quickMenu5").innerHTML = mainMenu[4].link[1];
$("quickMenu6").innerHTML = mainMenu[4].link[2];

ajaxReplaceElement("./admin_main.asp");
</script>

<div class="mainWindows">
	<div id="mainControl" class="left">
		<div class="title">信</div>
		<span id="quickMenu1"></span><span id="quickMenu2"></span><span id="quickMenu3"></span>
		<span id="quickMenu4"></span><span id="quickMenu5"></span><span id="quickMenu6"></span><br />
		<span>123</span><span>123</span>
	</div>

	<div class="left">
		<div class="title" id="Language_SystemInformation"></div>
		<ul>
			<li><span id="Language_SystemStat"></span>:<span id="ColumnTotal"></span> <span id="Language_Column"></span>,<span id="TopicTotal"></span> <span id="Language_Article"></span>,<span id="MangerTopicTotal"></span> <span id="Language_AuditArticle"></span>,<span id="UserTotal"></span> <span id="Language_RegUser"></span>,<span id="CommentTotal"></span> <span id="Language_Review"></span></li>
			<li><strong><span id="Language_SystemOwner"></span></strong>:<span id="SystemOwner"></span>,<strong><span id="Language_SystemVersion"></span></strong>: <span id="SystemVersion"></span>(<span id="DatabaseVersion"></span>)</li>
			<li><strong><span id="Language_ServerWindow"></span></strong>:<span id="Request_OS"></span>(IP:<span id="Request_Local"></span>)</td>
			<td>&nbsp;&nbsp;<strong><span id="Language_ScripEngine"></span></strong>:<span id="ScriptEngine"></span></li>
			<li><strong><span id="Language_SiteFolderPath"></span></strong>:<span id="Request_Path"></span></li>
			<li><strong><span id="Language_FSOEnable"></span></strong>:<span id="FSOEnable"></span></li>
			<li><strong><span id="Language_ADOEnable"></span></strong>:<span id="ADOEnable"></span></li>
			<li><strong><span id="Language_JMailEnable"></span></strong>:<span id="JMailEnable"></span></li>
			<li><strong><span id="Language_CDONTSEnable"></span></strong>:<span id="CDONTSEnable"></span></li>
		</ul>
	</div>
</div>

</div>