<script type="text/javascript">
//FormEdit.debug = true;
FormEdit.formName = "form1";
FormEdit.postUrl = "./admin_arttemplate.asp";
FormEdit.dateVal = "action=add";
if (typeof(tabFormID[currentTab]) != "undefined")
{
	FormEdit.dateVal += "&ID=" + tabFormID[currentTab];

	objForm.doResponseMethod = getEditPostResult;
	editSuccessUrl = './templates/admin_arttemplate_list.htm';

	setTabTitle(currentTab, tabTitle[122]);
}
else{
	objForm.doResponseMethod = getAddPostResult;

	setTabTitle(currentTab, tabTitle[121]);
}
FormEdit.doResponseMethodOther = "sw_help_topic_init()";

function initTabContent(){
	FCKeditorAPI = null;
	var oFCKeditor = new FCKeditor('Content', 650, 350) ;
	oFCKeditor.BasePath	= "../plugins/fck_editor/";
	oFCKeditor.ReplaceTextarea() ;
	__FCKeditorNS = null;

	FormEdit.start();
}

function checkData(sTargetName) {
	$(sTargetName).value = getFekeditorText(sTargetName);

	objForm.doResponseOther = "switchTab(currentTab);";
	objForm.postUrl = "./admin_arttemplate.asp";
	objForm.ajaxPost();

	return false;
}

function getFekeditorText(editor_name)
{
    var oEditor = FCKeditorAPI.GetInstance(editor_name) ;
    returnValue = oEditor.GetXHTML(true);

    return returnValue;
}
</script>

<form id="form1" name="form1" method="get" onsubmit="return false;">

<input type="hidden" name="">
<input type="hidden" name="ID">
<input type="hidden" name="action" value="save">

<div class="mainWindows">
	<div>
		<fieldset><legend><span id="help_topic_icon" onclick="sw_help_topic();"><span id="Language_OperationNotice"></span></span></legend>
        <div id="help_topic"><span id="Language_ArticleTemplate_Help"></span></div>
        </fieldset>
	</div>

	<div style="margin-top: 5px;">
		<fieldset>
			<legend id="Language_ArticleTemplate_Input_Template"></legend>
			<table width="100%" class="edittable">
				<tr>
				  <td width="13%" align="center"><span id="Language_ArticleTemplate_TemplateName"></span></td>
				  <td align="left"><input type="text" name="title" size="30" dataType="Require"></td>
				</tr>
				<tr>
				  <td width="13%" align="center" valign="top"><span id="Language_ArticleTemplate_TemplateContent"></span></td>
				  <td align="left"><textarea name="Content" id="Content" dataType="Require"></textarea></td>
				</tr>
				<tr bgcolor="#efefef">
				  <td align="left" colspan="2">&nbsp;<input type="button" name="btnSubmit" id="btnSubmit" onclick="javascript:return checkData('Content');">&nbsp;<input type="button" name="btnReturn" id="btnReturn" onclick="javascript:ajaxChangeRightContent('./templates/admin_arttemplate_list.htm','pageContent');"></td>
				</tr>
			</table>
		</fieldset>
	</div>
</div>

</form>
