<script type="text/javascript">
objForm.doResponseMethod = getBackupResult;
objForm.postUrl = "./admin_data.asp";

function initTabContent(){
	setTabTitle(currentTab, tabTitle[230]);
	
	sw_help_topic_init("");
}

function getBackupResult(returnResult){
	alertMessage(returnResult);
	alertMessage(backupComplate);
}
</script>
<form id="form1" name="form1" method="get" onsubmit="return false;">

<input type="hidden" name="">
<input type="hidden" name="action" value="backup">

<div class="mainWindows">
	<div>
		<fieldset><legend><span id="help_topic_icon" onclick="sw_help_topic();">{$Language_OperationNotice$}</span></legend>
        <div id="help_topic">{$Language_Data_Backup_Help$}</div>
        </fieldset>
	</div>

	<div style="margin-top: 5px;">
		<fieldset>
			<legend>{$Language_Data_Backup_Title$}</legend>
			<table width="100%" class="edittable">
				<tr>
				  <td>&nbsp;{$Language_Data_Backup_BackupFolder$}:<input type="text" size="20" name="bkfolder" value="Databackup" dataType="Require"></td>
				</tr>
				<tr>
				  <td>&nbsp;{$Language_Data_Backup_BackupFileName$}:<input type="text" size="20" name="bkDBname" value="{$Date$}.mdb" dataType="Require"></td>
				</tr>
				<tr>
				  <td bgcolor="efefef" height="25">&nbsp;<input type="button" value="{$Language_Comm_Save_Button$}" onclick="javascript:return objForm.ajaxPost();"></td>
				</tr>
			</table>
		</fieldset>
	</div>
</div>

</form>