<script type="text/javascript">
$("quickMenu1").innerHTML = "&nbsp;" + mainMenu[0].link[0] + "&nbsp;";
$("quickMenu2").innerHTML = mainMenu[1].link[1];
$("quickMenu3").innerHTML = mainMenu[4].link[3];
$("quickMenu4").innerHTML = mainMenu[4].link[0];
$("quickMenu5").innerHTML = mainMenu[4].link[1];
$("quickMenu6").innerHTML = mainMenu[4].link[2];
$("quickMenu7").innerHTML = mainMenu[2].link[0];
$("quickMenu8").innerHTML = "&nbsp;" + mainMenu[2].link[1] + "&nbsp;";

ajaxReplaceElement("./admin_main.asp");
</script>

<div class="mainWindows">
	<div id="mainControl" class="left">
		<div class="title" id="Language_Thruway"></div>
		<span id="quickMenu1"></span><span id="quickMenu2"></span><span id="quickMenu3"></span>
		<span id="quickMenu4"></span><span id="quickMenu5"></span><span id="quickMenu6"></span><br />
		<span id="quickMenu7"></span><span id="quickMenu8"></span>
	</div>

	<div class="left" style="width: 45%;">
		<div class="title" id="Language_SystemInformation"></div>
		<ul style="padding-left: 10px; LINE-HEIGHT: 20px;">
			<li><strong><span id="Language_SystemStat"></span></strong>:<span id="ColumnTotal"></span> <span id="Language_Column"></span>,<span id="TopicTotal"></span> <span id="Language_Article"></span>,<span id="MangerTopicTotal"></span> <span id="Language_AuditArticle"></span>,<span id="UserTotal"></span> <span id="Language_RegUser"></span>,<span id="CommentTotal"></span> <span id="Language_Review"></span></li>
			<li><strong><span id="Language_SystemVersion"></span></strong>:<span id="SystemVersion"></span>(<span id="DatabaseVersion"></span>)</li>
			<li><strong><span id="Language_ServerWindow"></span></strong>:<span id="Request_OS"></span>(IP:<span id="Request_Local"></span>)</li>
			<li><strong><span id="Language_ScripEngine"></span></strong>:<span id="ScriptEngine"></span></li>
			<li><strong><span id="Language_SiteFolderPath"></span></strong>:<span id="Request_Path"></span></li>
			<li><strong><span id="Language_FSOEnable"></span></strong>:<span id="FSOEnable"></span>&nbsp;&nbsp;&nbsp;<strong><span id="Language_ADOEnable"></span></strong>:<span id="ADOEnable"></span>&nbsp;&nbsp;&nbsp;<strong><span id="Language_JMailEnable"></span></strong>:<span id="JMailEnable"></span>&nbsp;&nbsp;&nbsp;<strong><span id="Language_CDONTSEnable"></span></strong>:<span id="CDONTSEnable"></span></li>
		</ul>
	</div>

	<div class="separator"></div>

	<div class="left" style="width: 100%;">
		<div class="title" id="Language_ProductInformation"></div>
		<ul style="padding-left: 10px; LINE-HEIGHT: 20px;">
			<li><span id="Language_ProductCopyright"></span>:Team Elite</li>
			<li><span id="Language_ProductSales"></span>:<font color=blue>Talent</font>&nbsp;&nbsp;QQ:327358&nbsp;&nbsp;&nbsp;e-mail:<a href="mailto:cto@tlsw.com">cto@tlsw.com</a>&nbsp;&nbsp;<font color=blue>自在的尘</font>&nbsp;&nbsp;&nbsp;QQ:492150746&nbsp;&nbsp;&nbsp;&nbsp;e-mail:<a href="mailto:ajder@163.com" align="absmiddle">shaj98@163.com</a></li>
			<li><span id="Language_AboutMe"></span>:<a href="http://www.nbarticle.com/" target=_blank>Http://Www.NBArticle.Com</a></li>
			<li>Copyright &copy; 2003-2008 <a href="http://www.nbarticle.com" target="_blank" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;">NBArticle<font color="#CC0000">.Com</font></a>. All Rights Reserved .</li>
			<li></li>
		</ul>
	</div>
</div>

</div>