<script type="text/javascript">
var editUrl = "./templates/admin_content_option.htm";

//objTable.debug = true;
objTable.setURL("./admin_content.asp");
objTable.dateVal = "action=";
objTable.action = "<a href='javascript:vod();' onclick='edit($ID, editUrl);'>"+editStr+"</a>";
objTable.noneValue = "<br /><br />"+listEmpty+"<br /><br /><br />";
objTable.doResponseOther = "sw_help_topic_init()";

function initTabContent(){
	setTabTitle(currentTab, tabTitle[90]);

	objTable.start();
}

function query(flag,data){
	for (var i=0;i<=6 ;i++ )
	{
		document.getElementById('menu'+i).className="";
		if (i == flag)
		{
			document.getElementById('menu'+i).className="abg";
		}
	}

	objTable.nowPage = 1;
	objTable.dateVal = "action=''&" + data;
	initTabContent();
}

function getBatchPostResult(returnResult) {
	if(returnResult >= 0) {
		alertMessage(returnResult + operateComplate);
		if(objTable){
			objTable.start();
		}
	}
	else {
		alertMessage(channgeFail);
	}
}
</script>
<form id="form1" name="form1" method="get" onsubmit="return false;">

<div class="mainWindows">
	<div>
		<fieldset><legend><span id="help_topic_icon" onclick="sw_help_topic();"><span id="Language_OperationNotice"></span></span></legend>
        <div id="help_topic"><span id="Language_Content_Help"></span></div>
        </fieldset>
	</div>

	<div style="margin-top: 5px;">
		<div class="menu2" style="TEXT-ALIGN: left;"><a href="javascript:vod();" onclick="javascript:query(0,'');" id="menu0" class="abg"><span id="Language_Comm_AllColumn"></span><a href="javascript:vod();" onclick="javascript:query(1,'w=1d');" id="menu1"><span id="Language_Comm_Today"></span></a><a href="javascript:vod();" onclick="javascript:query(2,'w=1w');" id="menu2"><span id="Language_Comm_Week"></span></a><a href="javascript:vod();" onclick="javascript:query(3,'w=1m');" id="menu3"><span id="Language_Comm_Month"></span></a><a href="javascript:vod();" onclick="javascript:query(4,'w=npass');" id="menu4"><span id="Language_Comm_State_NoPass"></span></a><a href="javascript:vod();" onclick="javascript:query(5,'w=pass');" id="menu5"><span id="Language_Comm_State_Pass"></span></a><a href="javascript:vod();" onclick="javascript:query(6,'w=reback');" id="menu6"><span id="Language_Comm_RecycleBin"></span></a>
		</div>
		<table width="100%" id="listTable">
			<tr>
			  <th style="width: 5px;"><input name="chkall" type="checkbox" value="on" onclick="CheckAll(document.form1,this);"></th>
			  <th>ID</th>
			  <th><span id="Language_Content_Title"></span></th>
			  <th><span id="Language_Content_Column"></span></th>
			  <th><span id="Language_Content_State"></span></th>
			  <th><span id="Language_Content_ViewNum"></span>/<span id="Language_Content_Review"></span></th>
			  <th><span id="Language_Content_Date"></span></th>
			  <th><span id="Language_Comm_Bar_Operation"></span></th>
			</tr>
		</table>
		<div style="BACKGROUND: #efefef;height:25px;">
			<div id="opBar" style="width:40%;">&nbsp;<input type="button" id="Comm_Add_Operation" onclick="javascript:ajaxChangeRightContent('./templates/admin_content_option.htm', 'pageAdd');">&nbsp;<input type="button" id="Comm_Del_Operation" onclick="javascript:del('./admin_content.asp');">&nbsp;<input type="button" id="Comm_Resume_Operation" onclick="javascript:postChooseForm('./admin_content.asp','batch&opertion=nodel',getBatchPostResult);">&nbsp;<input type="button" id="Comm_Pass_Operation" onclick="javascript:postChooseForm('./admin_content.asp','batch&opertion=pass',getBatchPostResult);">&nbsp;<input type="button" id="Comm_NoPass_Operation" onclick="javascript:postChooseForm('./admin_content.asp','batch&opertion=nopass',getBatchPostResult);"></div>
			<div id="pageListDiv" style="float: right;"></div>
		</div>
		<div class="separator" style="height: 3px;"></div>
		<table width="98%">
			<tr valign="middle" align="center" height="28">
			  <td><span id="Language_QuickSearchArticle"></span>:
				<select name="Field" id="Field"></select>&nbsp;
				<select name="ColumnList" id="ColumnList"></select>&nbsp;
				<input type="text" name="Keyword" id="Keyword">&nbsp;
				<input type="button" name="btnSubmit" id="btnSubmit" onclick="javascript:query(0,'w=search&Field='+document.getElementById('Field').value+'&Column='+document.getElementById('ColumnList').value+'&Keyword='+document.getElementById('Keyword').value);"></td>
			</tr>
		</table>
	</div>
</div>

</form>