<table align="left">
  <tr>
	<td width="450">&nbsp;<img src="images/bar1.gif" width="1" height="16" id="img1" name="img1" align="absmiddle"></td>
	<td>&nbsp;{$ColumnTotal$}&nbsp;{$Language_MakeList_Column$},{$Language_MakeList_Now$}&nbsp;<span id="column_complete" name="column_complete"></span>&nbsp;{$Language_MakeList_Column$}</td>
  </tr>
  <tr>
	<td width="450">&nbsp;<img src="images/bar2.gif" width="1" height="16" id="img2" name="img2" align="absmiddle"></td>
	<td>&nbsp;<span id="task_total" name="task_total"></span>&nbsp;{$Language_MakeList_Task$},{$Language_MakeList_Now$}&nbsp;<span id="task_complete" name="task_complete"></span>&nbsp;{$Language_MakeList_Task$}</td>
  </tr>
  <tr>
	<td width="450">&nbsp;<img src="images/bar3.gif" width="1" height="16" id="img3" name="img3" align="absmiddle"></td>
	<td>&nbsp;<span id="page_total" name="page_total"></span>&nbsp;{$Language_MakeList_Page$},{$Language_MakeList_Now$}&nbsp;<span id="page_complete" name="page_complete"></span>&nbsp;{$Language_MakeList_Page$}</td>
  </tr>
  <tr>
	<td align="left" colspan="2">&nbsp;<span id="make_msg" name="make_msg"></span>&nbsp;</td>
  </tr>
</table>

