<script type="text/javascript">
//objTable.debug = true;
objTable.url = "./admin_upfile.asp";
objTable.dateVal = "action=";
objTable.noneValue = "<br /><br />"+listEmpty+"<br /><br /><br />";
objTable.doResponseOther = "sw_help_topic_init()";

function initTabContent(){
	setTabTitle(currentTab, tabTitle[270]);

	objTable.start();
}
</script>
<form id="form1" name="form1" method="get" onsubmit="return false;">
<input type="hidden" name="ParentFolder" id="ParentFolder">

<div class="mainWindows">
	<div>
		<fieldset><legend><span id="help_topic_icon" onclick="sw_help_topic();"><span id="Language_OperationNotice"></span></span></legend>
        <div id="help_topic"><span id="Language_UpFile_Help"></span></div>
        </fieldset>
	</div>

	<div style="margin-top: 5px;">
		<table width="100%" id="listTable">
		  <tr>
			<th style="width: 5px;"><input name="chkall" type="checkbox" value="on" onclick="CheckAll(document.form1,this);"></th>
			<th><span id="Language_UpFile_Type"></span></th>
			<th><span id="Language_UpFile_FileName"></span></th>
			<th><span id="Language_UpFile_Size"></span></th>
			<th><span id="Language_UpFile_LastTime"></span></th>
			<th><span id="Language_UpFile_UploadTime"></span></th>
		  </tr>
		  <tr>
			<td colspan="6">&nbsp;&nbsp;[Dir] <a href='javascript:vod();' onclick='javascript:objTable.dateVal="path="+$("ParentFolder").value;initTabContent();'>../</a></td>
		  </tr>
		</table>
		<div style="BACKGROUND: #efefef;height:25px;">
			<div id="" style="float: left;width:30%;TEXT-ALIGN: left;">&nbsp;<input type="button" id="Comm_Del_Operation" onclick="javascript:del('./admin_upfile.asp');"></div>
			<div style="float: left;"><strong><span id="Language_UpFile_CurrentPath"></span>:<span id="Path"></span></strong></div>
			<div id="pageListDiv" style="float: right;"></div>
		</div>
	</div>
</div>

</form>