<script type="text/javascript">
//FormEdit.debug = true;
FormEdit.formName = "form1";
FormEdit.postUrl = "./admin_adsense.asp";
FormEdit.dateVal = "action=add";
if (typeof(tabFormID[currentTab]) != "undefined")
{
	FormEdit.dateVal += "&ID=" + tabFormID[currentTab];

	objForm.doResponseMethod = getEditPostResult;
	editSuccessUrl = './templates/admin_adsense_list.htm';

	setTabTitle(currentTab, tabTitle[62]);
}
else{
	objForm.doResponseMethod = getAddPostResult;

	setTabTitle(currentTab, tabTitle[61]);
}
FormEdit.doResponseMethodOther = "sw_help_topic_init()";

//objForm.debug = true;
objForm.postUrl = "./admin_adsense.asp";

function initTabContent(){
	FormEdit.start();
}
</script>
<form id="form1" name="form1" method="get" onsubmit="return false;">

<input type="hidden" name="">
<input type="hidden" name="ID">
<input type="hidden" name="action" value="save">

<div class="mainWindows">
	<div>
		<fieldset><legend><span id="help_topic_icon" onclick="sw_help_topic();"><span id="Language_OperationNotice"></span></span></legend>
        <div id="help_topic"><span id="Language_AdSense_Help"></span></div>
        </fieldset>
	</div>

	<div style="margin-top: 5px;">
		<fieldset>
			<legend id="Language_AdSense_Input_Template"></legend>
			<table width="100%" class="edittable">
				<tr>
				  <td width="13%" align="right"><span id="Language_AdSense_Title"></span></td>
				  <td align="left">&nbsp;<input type="text" name="Title" size="43" dataType="Require"></td>
				</tr>
				<tr>
				  <td align="right" valign="top"><span id="Language_AdSense_Content"></span></td>
				  <td align="left">&nbsp;<textarea name="Content" id="Content" cols="40" rows="18" wrap="VIRTUAL" onclick="this.focus();this.select()" dataType="Require"></textarea>
					<br>&nbsp;<a href="javascript:vod();" onclick="javascript:change($('Content'),-20)"><img src="images/minus.gif" alt="" /></a>&nbsp;&nbsp;<a href="javascript:vod();" onclick="javascript:change($('Content'),20)"><img src="images/plus.gif" alt="" /></a></td>
				</tr>
				<tr bgcolor="#efefef">
				  <td align="left" valign="middle" colspan="2" height="25">&nbsp;<input type="button" name="btnSubmit" id="btnSubmit" onclick="javascript:return objForm.ajaxPost();">&nbsp;<input type="button" name="btnReturn" id="btnReturn" onclick="javascript:ajaxChangeRightContent('./templates/admin_adsense_list.htm','pageContent');"></td>
				</tr>
			</table>
		</fieldset>
	</div>
</div>

</form>
