<script type="text/javascript">
//FormEdit.debug = true;
FormEdit.formName = "form1";
FormEdit.postUrl = "./admin_makelist.asp";
FormEdit.dateVal = "action=";
FormEdit.doResponseMethodOther = "sw_help_topic_init()";

function initTabContent(){
	setTabTitle(currentTab, tabTitle[180]);

	FormEdit.start();
}

</script>

<div class="mainWindows">
	<div>
		<fieldset><legend><span id="help_topic_icon" onclick="sw_help_topic();"><span id="Language_OperationNotice"></span></span></legend>
        <div id="help_topic"><span id="Language_MakeList_Help"></span></div>
        </fieldset>
	</div>

	<div style="margin-top: 5px;">
	<form id="form1" name="form1" method="post" action="./admin_makelist.asp" target="frmAction">
		<input type="hidden" name="action" value="mark">
		<input type="hidden" name="total" value="">
		<fieldset>
			<legend id="Language_MakeList_Title"></legend>
			<table width="100%" class="edittable">
				<tr>
				  <td width="100" align="right" valign="top">&nbsp;<span id="Language_Comm_Select"></span>:</td>
				  <td><select name="ColumnList" size="10" multiple dataType="Require"></select></td>
				</tr>
				<tr>
				  <td colspan="2" bgcolor="efefef">&nbsp;<input type="button" name="btnSubmit" id="btnSubmit" onclick="if (!Validator.Validate(this.form, 3)) {return false;}else{this.form.submit();}" /></td>
				</tr>
			</table>
		</fieldset>
	</form>
	</div>

	<div style="margin: 0 5px 0 5px;"><iframe name="frmAction" frameborder="0" scrolling="no" src="" width="100%" height="90"></iframe></div>
</div>

</div>