<script type="text/javascript">
//FormEdit.debug = true;
FormEdit.formName = "form1";
FormEdit.postUrl = "./admin_loadskin.asp";
FormEdit.dateVal = "action=load";
FormEdit.doResponseMethodOther = "sw_help_topic_init()";

function initTabContent(){
	setTabTitle(currentTab, tabTitle[211]);

	FormEdit.start();
}

function getInputDatabase(objForm){
	var sPost = "action=loadthis&mdbName=" + objForm.mdbname.value;

	ajaxChangeRightContent('./templates/admin_loadskin_main.htm','pageContent');
}
</script>
<form id="form1" name="form1" method="get" onsubmit="return false;">

<input type="hidden" name="">

<div class="mainWindows">
	<div>
		<fieldset><legend><span id="help_topic_icon" onclick="sw_help_topic();"><span id="Language_OperationNotice"></span></span></legend>
        <div id="help_topic"><span id="Language_Skin_Help"></span></div>
        </fieldset>
	</div>

	<div style="margin-top: 5px;">
		<fieldset>
			<legend id="Language_Skin_InputTemplate"></legend>
			<table width="100%" class="edittable">
				<tr>
				  <td width="20%">&nbsp;<span id="Language_Skin_Database"></span>:</td>
				  <td width="80%"><input type="text" name="mdbname" size="30" value="NB_Template.mdb"></td>
				</tr>
				<tr>
				  <td colspan="2" bgcolor="efefef">&nbsp;<input type="button" name="btnSumbit" id="btnSumbit" onclick="javascript:getInputDatabase(this.form);"></td>
				</tr>
			</table>
		</fieldset>
	</div>
</div>

</form>
