<script type="text/javascript">
//FormEdit.debug = true;
FormEdit.formName = "form1";
FormEdit.postUrl = "./admin_makeview.asp";
FormEdit.dateVal = "action=";
FormEdit.doResponseMethodOther = "sw_help_topic_init()";

function initTabContent(){
	setTabTitle(currentTab, tabTitle[190]);

	FormEdit.start();
}
</script>

<div class="mainWindows">
	<div>
		<fieldset><legend><span id="help_topic_icon" onclick="sw_help_topic();"><span id="Language_OperationNotice"></span></span></legend>
        <div id="help_topic"><span id="Language_MakeView_Help"></span></div>
        </fieldset>
	</div>

	<form id="form1" name="form1" method="post" action="./admin_makeview.asp" target="frmAction">
	<input type="hidden" name="tag">
	<input type="hidden" name="action" value="mark">

	<div style="width: 20%; margin: 3px 25px 0 0;" class="left">
		<fieldset>
			<legend id="Language_MakeView_MakeById"></legend>
			<table width="100%" class="edittable">
				<tr>
				  <td>&nbsp;&nbsp;<span id="Language_MakeView_StartId"></span><input type="text" name="sid" size="5" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"></td>
				</tr>
				<tr>
				  <td>&nbsp;&nbsp;<span id="Language_MakeView_EndId"></span><input type="text" name="eid" size="5" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"></td>
				</tr>
				<tr>
				  <td bgcolor="efefef" height="25">&nbsp;&nbsp;<input type="button" name="btnSubmit1" id="btnSubmit1" onclick="javascript:this.form.tag.value='1';this.form.submit();"></td>
				</tr>
			</table>
		</fieldset>
	</div>

	<div style="width: 20%; margin-top: 5px" class="left">
		<fieldset>
			<legend id="Language_MakeView_MakeByDate"></legend>
			<table width="100%" class="edittable">
				<tr>
				  <td>&nbsp;&nbsp;<span id="Language_MakeView_StartDate"></span><input type="text" name="date1" id="date1" size="10" readonly>&nbsp;<a href="javascript:vod();" onclick="SD(this,'date1');"><img border="0" src="images/date_picker.gif" width="30" height="19" align=absmiddle></a>&nbsp;</td>
				</tr>
				<tr>
				  <td>&nbsp;&nbsp;<span id="Language_MakeView_EndDate"></span><input type="text" name="date2" id="date2" size="10" readonly>&nbsp;<a href="javascript:vod();" onclick="SD(this,'date2')"><img border="0" src="images/date_picker.gif" width="30" height="19" align=absmiddle></a>&nbsp;</td>
				</tr>
				<tr>
				  <td bgcolor="efefef" height="25">&nbsp;&nbsp;<input type="button" name="btnSubmit2" id="btnSubmit2" onclick="javascript:this.form.tag.value='2';this.form.submit();"></td>
				</tr>
			</table>
		</fieldset>
	</div>

	<div style="width: 55%; margin-top: 5px;" class="right">
		<fieldset>
			<legend id="Language_MakeView_MakeByColumn"></legend>
			<table width="100%" class="edittable">
				<tr>
				  <td>&nbsp;&nbsp;<select name="ColumnList" size="10" multiple></select></td>
				</tr>
				<tr>
				  <td bgcolor="efefef" height="25">&nbsp;&nbsp;<input type="button" name="btnSubmit3" id="btnSubmit3" onclick="javascript:this.form.tag.value='3';this.form.submit();"></td>
				</tr>
			</table>
		</fieldset>
	</div>
	</form>

	<div style="margin: 0 5px 0 5px;"><iframe name="frmAction" frameborder="0" scrolling="no" src="" width="100%" height="90"></iframe></div>
</div>

</div>