<script type="text/javascript">
if (typeof(tabFormID[currentTab]) != "undefined")
{
	var editUrl = "./templates/admin_module_option.htm";

	//objTable.debug = true;
	objTable.setURL("./admin_module.asp");
	objTable.dateVal = "action=&ID=" + tabFormID[currentTab];
	objTable.action = "<a href='javascript:vod();' onclick='edit($ID,editUrl);'>"+editStr+"</a>";
	objTable.noneValue = "<br /><br />"+listEmpty+"<br /><br /><br />";

	setTabTitle(currentTab, tabTitle[203]);
}
else{
	ajaxChangeRightContent('./templates/admin_theme_list.htm');
}


function initTabContent(){
	objTable.start();
}

</script>
<form id="form1" name="form1" method="get" onsubmit="return false;">

<div class="mainWindows">
	<div style="margin-top: 5px;">
		<table width="100%" id="listTable">
		  <tr>
			<th style="width: 5px;"><input name="chkall" type="checkbox" value="on" onclick="CheckAll(document.form1,this);"></th>
			<th>ID</th>
			<th><span id="Language_Theme_ModuleName"></span></th>
			<th><span id="Language_Theme_ModuleDesc"></span></th>
			<th><span id="Language_Theme_ModuleType"></span></th>
			<th><span id="Language_Comm_Bar_Operation"></span></th>
		  </tr>
		</table>
		<div style="BACKGROUND: #efefef;height:25px;">
			<div id="opBar" style="float: left;width:50%;">&nbsp;<input type="button" id="Comm_Add_Operation" onclick="javascript:ajaxChangeRightContent('./templates/admin_module_option.htm','pageAdd');">&nbsp;<input type="button" id="Comm_Del_Operation" onclick="javascript:del('./admin_theme.asp');">&nbsp;<input type="button" name="btnReturn" id="btnReturn" onclick="javascript:ajaxChangeRightContent('./templates/admin_theme_list.htm','pageContent');"></div>
		</div>
	</div>
</div>

</form>