<script type="text/javascript">
//FormEdit.debug = true;
FormEdit.formName = "form1";
FormEdit.postUrl = "./admin_usergroup.asp";
FormEdit.dateVal = "action=add";
if (typeof(tabFormID[currentTab]) != "undefined")
{
	FormEdit.dateVal += "&ID=" + tabFormID[currentTab];

	objForm.doResponseMethod = getEditPostResult;
	editSuccessUrl = './templates/admin_usergroup_list.htm';

	setTabTitle(currentTab, tabTitle[132]);
}
else{
	objForm.doResponseMethod = getAddPostResult;

	setTabTitle(currentTab, tabTitle[131]);
}
FormEdit.doResponseMethodOther = "sw_help_topic_init()";

//objForm.debug = true;
objForm.postUrl = "./admin_usergroup.asp";

function initTabContent(){
	FormEdit.start();
}
</script>
<form id="form1" name="form1" method="get" onsubmit="return false;">

<input type="hidden" name="">
<input type="hidden" name="ID">
<input type="hidden" name="action" value="save">

<div class="mainWindows">
	<div>
		<fieldset><legend><span id="help_topic_icon" onclick="sw_help_topic();"><span id="Language_OperationNotice"></span></span></legend>
        <div id="help_topic"><span id="Language_Group_Help"></span></div>
        </fieldset>
	</div>

	<div style="margin-top: 5px;">
		<fieldset>
			<legend id="Language_Group_Login_Option"></legend>
			<table width="100%" class="edittable">
				<tr>
				  <td width="17%" align=right><span id="Language_Group_Name"></span></td>
				  <td>&nbsp;<input type="text" name="GroupName" dataType="Require"></td>
				  <TD class=vsplit_line width=1></TD>
				  <TD class=describe_txt width=300>&nbsp;</TD>
				</tr>
				<tr>
				  <td align=right><span id="Language_Group_IsLogin"></span></td>
				  <td>&nbsp;<span id="Language_Comm_Yes1"></span><input type="radio" name="IsLogin" value="1"><span id="Language_Comm_No1"></span><input type="radio" name="IsLogin" value="0" dataType="Group"></td>
				  <TD class=vsplit_line width=1></TD>
				  <TD class=describe_txt width=300>&nbsp;</TD>
				</tr>
				<tr>
				  <td align=right><span id="Language_Group_Timer"></span></td>
				  <td>&nbsp;<span id="Language_Comm_Yes2"></span><input type="radio" name="IsClose" value="1"><span id="Language_Comm_No2"></span><input type="radio" name="IsClose" value="0"></td>
				  <TD class=vsplit_line width=1></TD>
				  <TD class=describe_txt width=300>&nbsp;</TD>
				</tr>
				<tr>
				  <td align=right><span id="Language_Group_Timer_Option"></span></td>
				  <td>&nbsp;<input type="text" name="OpenTime" size="10"></td>
				  <TD class=vsplit_line width=1></TD>
				  <TD class=describe_txt width=300><span id="Language_Group_Timer_Option_Help"></span></TD>
				</tr>
			</table>
		</fieldset>
	</div>

	<div style="margin-top: 5px;height: 25px;TEXT-ALIGN: left;">&nbsp;<input type="button" name="btnSubmit1" id="btnSubmit1" onclick="javascript:return objForm.ajaxPost();">&nbsp;<input type="button" name="btnReturn1" id="btnReturn1" onclick="javascript:ajaxChangeRightContent('./templates/admin_usergroup_list.htm','pageContent');"></div>

	<div style="margin-top: 5px;">
		<fieldset>
			<legend id="Language_Group_Power_Option"></legend>
			  <table width="100%" class="edittable">
				<tr>
				  <td width="17%" align=right><span id="Language_Group_Power"></span></td>
				  <td>&nbsp;<input type="text" name="Power" size="10" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"></td>
				  <TD class=vsplit_line  width=1></TD>
				  <TD class=describe_txt width=300>&nbsp;</TD>
				</tr>
				<tr>
				  <td align=right><span id="Language_Group_ViewHide"></span></td>
				  <td>&nbsp;<span id="Language_Comm_Yes3"></span><input type="radio" name="IsHide" value="1"><span id="Language_Comm_No3"></span><input type="radio" name="IsHide" value="0"></td>
				  <TD class=vsplit_line></TD>
				  <TD class=describe_txt>&nbsp;</TD>
				</tr>
				<tr>
				  <td align=right><span id="Language_Group_PostReviewForRegLater"></span></td>
				  <td>&nbsp;<input type="text" name="ReviewSplit" size="10" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"></td>
				  <TD class=vsplit_line></TD>
				  <TD class=describe_txt><span id="Language_Group_PostReviewForRegLater_Help"></span></TD>
				</tr>
				<tr>
				  <td align=right><span id="Language_Group_PostVotedForRegLater"></span></td>
				  <td>&nbsp;<input type="text" name="VotedSplit" size="10" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"></td>
				  <TD class=vsplit_line></TD>
				  <TD class=describe_txt><span id="Language_Group_PostVotedForRegLater_Help"></span></TD>
				</tr>
				<tr>
				  <td align=right><span id="Language_Group_IsReview"></span></td>
				  <td>&nbsp;<span id="Language_Comm_Yes4"></span><input type="radio" name="IsReview" value="1"><span id="Language_Comm_No4"></span><input type="radio" name="IsReview" value="0"></td>
				  <TD class=vsplit_line></TD>
				  <TD class=describe_txt>&nbsp;</TD>
				</tr>
				<tr>
				  <td align=right><span id="Language_Group_ReviewForManager"></span></td>
				  <td>&nbsp;<span id="Language_Comm_Yes5"></span><input type="radio" name="ReviewNeedManager" value="1"><span id="Language_Comm_No5"></span><input type="radio" name="ReviewNeedManager" value="0"></td>
				  <TD class=vsplit_line></TD>
				  <TD class=describe_txt>&nbsp;</TD>
				</tr>
				<tr>
				  <td align=right><span id="Language_Group_IsPostArticle"></span></td>
				  <td>&nbsp;<span id="Language_Comm_Yes6"></span><input type="radio" name="IsPost" value="1"><span id="Language_Comm_No6"></span><input type="radio" name="IsPost" value="0"></td>
				  <TD class=vsplit_line></TD>
				  <TD class=describe_txt>&nbsp;</TD>
				</tr>
				<tr>
				  <td align=right><span id="Language_Group_PostForManager"></span></td>
				  <td>&nbsp;<span id="Language_Comm_Yes7"></span><input type="radio" name="PostNeedManager" value="1"><span id="Language_Comm_No7"></span><input type="radio" name="PostNeedManager" value="0"></td>
				  <TD class=vsplit_line></TD>
				  <TD class=describe_txt>&nbsp;</TD>
				</tr>
				<tr>
				  <td align=right><span id="Language_Group_DayMaxPost"></span></td>
				  <td>&nbsp;<input type="text" name="PostMax" size="10" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"></td>
				  <TD class=vsplit_line></TD>
				  <TD class=describe_txt>&nbsp;</TD>
				</tr>
				<tr>
				  <td align=right><span id="Language_Group_FavMax"></span></td>
				  <td>&nbsp;<input type="text" name="FavMax" size="10" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"></td>
				  <TD class=vsplit_line></TD>
				  <TD class=describe_txt><span id="Language_Group_FavMax_Help"></span></TD>
				</tr>
			  </table>
		</fieldset>
	</div>

	<div style="margin-top: 5px;height: 25px;TEXT-ALIGN: left;">&nbsp;<input type="button" name="btnSubmit2" id="btnSubmit2" onclick="javascript:return objForm.ajaxPost();">&nbsp;<input type="button" name="btnReturn2" id="btnReturn2" onclick="javascript:ajaxChangeRightContent('./templates/admin_usergroup_list.htm','pageContent');"></div>
</div>

</form>