<script type="text/javascript">
var editUrl = "./templates/admin_friend_option.htm";

//objTable.debug = true;
objTable.setURL("./admin_friend.asp");
objTable.dateVal = "action=";
objTable.action = "<a href='javascript:vod();' onclick='edit($ID,editUrl);'>"+editStr+"</a>";
objTable.noneValue = "<br /><br />"+listEmpty+"<br /><br /><br />";
objTable.doResponseOther = "sw_help_topic_init()";

function initTabContent(){
	setTabTitle(currentTab, tabTitle[20]);

	objTable.start();
}
</script>
<form id="form1" name="form1" method="get" onsubmit="return false;">

<div class="mainWindows">
	<div>
		<fieldset><legend><span id="help_topic_icon" onclick="sw_help_topic();"><span id="Language_OperationNotice"></span></span></legend>
        <div id="help_topic"><span id="Language_Friend_Help"></span></div>
        </fieldset>
	</div>

	<div style="margin-top: 5px;">
		<table width="100%" id="listTable">
		  <tr>
			<th style="width: 5px;"><input name="chkall" type="checkbox" value="on" onclick="CheckAll(document.form1,this);"></th>
			<th><span id="Language_Friend_SiteName"></span></th>
			<th><span id="Language_Friend_SiteLogo"></span></th>
			<th><span id="Language_Friend_Location"></span></th>
			<th><span id="Language_Friend_Order"></span></th>
			<th><span id="Language_Friend_State"></span></th>
			<th><span id="Language_Comm_Bar_Operation"></span></th>
		  </tr>
		</table>
		<div style="BACKGROUND: #efefef;height:25px;">
			<div id="opBar" style="width: 50%;">&nbsp;<input type="button" id="Comm_Add_Operation" onclick="javascript:ajaxChangeRightContent('./templates/admin_friend_option.htm','pageAdd');">&nbsp;<input type="button" id="Comm_Del_Operation" onclick="javascript:del('./admin_friend.asp');"></div>
			<div id="pageListDiv" style="float: right;"></div>
		</div>
	</div>
</div>

</form>