<script type="text/javascript">
//FormEdit.debug = true;
FormEdit.formName = "form1";
FormEdit.postUrl = "./admin_column.asp";
FormEdit.dateVal = "action=add";
if (typeof(tabFormID[currentTab]) != "undefined")
{
	FormEdit.dateVal += "&ID=" + tabFormID[currentTab];
	
	objForm.doResponseMethod = getEditPostResult;
	editSuccessUrl = './templates/admin_column_list.htm';

	setTabTitle(currentTab, tabTitle[82]);
}
else{
	objForm.doResponseMethod = getAddPostResult;
	objForm.doResponseOther = "initTabContent()";

	setTabTitle(currentTab, tabTitle[81]);
}
FormEdit.doResponseMethodOther = "sw_help_topic_init()";

//objForm.debug = true;
objForm.postUrl = "./admin_column.asp";

function initTabContent(){
	FormEdit.start();
}
</script>
<form id="form1" name="form1" method="get" onsubmit="return false;">

<input type="hidden" name="" />
<input type="hidden" name="ID" />
<input type="hidden" name="action" value="save" />

<div class="mainWindows">
	<div>
		<fieldset><legend><span id="help_topic_icon" onclick="sw_help_topic();"><span id="Language_OperationNotice"></span></span></legend>
        <div id="help_topic"><span id="Language_Column_Help"></span></div>
        </fieldset>
	</div>

	<div style="margin-top: 5px;">
		<fieldset>
			<legend id="Language_Column_Input_Column"></legend>
			<table width="100%" class="edittable">
				<tr>
				  <td width="18%" align=right><span id="Language_Column_Title"></span></td>
				  <td>&nbsp;<input type="text" name="Name" dataType="Require" style="width: 250px;" /></td>
				</tr>
				<tr>
				  <td align=right valign="top"><span id="Language_Column_Attrib"></span></td>
				  <td>&nbsp;<select name="ColumnList" size="10" style="width:256"></select></td>
				</tr>
				<tr>
				  <td align=right valign="top"><span id="Language_Column_Info"></span></td>
				  <td>&nbsp;<textarea name="Info" rows="4" wrap="VIRTUAL" style="width: 250px;"></textarea></td>
				</tr>
				<tr>
				  <td align=right><span id="Language_Column_OutURL"></span></td>
				  <td>&nbsp;<input type="text" name="OutUrl" style="width: 250px;" /></td>
				</tr>
				<tr>
				  <td align=right><span id="Language_Column_ViewPower"></span></td>
				  <td>&nbsp;<input type="text" name="Power" size="5" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" /></td>
				</tr>
				<tr>
				  <td align=right><span id="Language_Column_IsHide"></span></td>
				  <td>&nbsp;<span id="Language_Comm_Yes1"></span>
					<input type="radio" name="IsHide" value="1" />
					<span id="Language_Comm_No1"></span>
					<input type="radio" name="IsHide" value="0" dataType="Group" /></td>
				</tr>
				<tr>
				  <td align=right><span id="Language_Column_IsReview"></span></td>
				  <td>&nbsp;<span id="Language_Comm_Yes2"></span>
					<input type="radio" name="IsReview" value="1" />
					<span id="Language_Comm_No2"></span>
					<input type="radio" name="IsReview" value="0" dataType="Group" /></td>
				</tr>
				<tr>
				  <td align=right><span id="Language_Column_IsPost"></span></td>
				  <td>&nbsp;<span id="Language_Comm_Yes3"></span>
					<input type="radio" name="IsPost" value="1" />
					<span id="Language_Comm_No3"></span>
					<input type="radio" name="IsPost" value="0" dataType="Group" /></td>
				</tr>
				<tr>
				  <td align=right><span id="Language_Column_IsTop"></span></td>
				  <td>&nbsp;<span id="Language_Comm_Yes4"></span>
					<input type="radio" name="IsTop" value="1" />
					<span id="Language_Comm_No4"></span>
					<input type="radio" name="IsTop" value="0" dataType="Group" /></td>
				</tr>
				<tr>
				  <td align=right><span id="Language_Column_ListTemplate"></span></td>
				  <td>&nbsp;<select name="List_TempId"></select></td>
				</tr>
				<tr>
				  <td align=right><span id="Language_Column_ArticleTemplate"></span></td>
				  <td>&nbsp;<select name="Article_TempId"></select></td>
				</tr>
				<tr>
				  <td align=right><span id="Language_Column_PageSize"></span></td>
				  <td>&nbsp;<input type="text" name="PageSize" size="5" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" dataType="Require" /></td>
				</tr>
				<tr bgcolor="efefef">
				  <td colspan="2" align=left>&nbsp;<input type="button" name="btnSubmit" id="btnSubmit" onclick="javascript:return objForm.ajaxPost();" />&nbsp;<input type="button" name="btnReturn" id="btnReturn" onclick="javascript:ajaxChangeRightContent('./templates/admin_column_list.htm','pageContent');" /></td>
				</tr>
			</table>
		</fieldset>
	</div>
</div>

</form>