<script type="text/javascript">
//FormEdit.debug = true;
FormEdit.formName = "form1";
FormEdit.postUrl = "./admin_insidelink.asp";
FormEdit.dateVal = "action=add";
if (typeof(tabFormID[currentTab]) != "undefined")
{
	FormEdit.dateVal += "&ID=" + tabFormID[currentTab];

	objForm.doResponseMethod = getEditPostResult;
	editSuccessUrl = './templates/admin_insidelink_list.htm';

	setTabTitle(currentTab, tabTitle[52]);
}
else{
	objForm.doResponseMethod = getAddPostResult;

	setTabTitle(currentTab, tabTitle[51]);
}
FormEdit.doResponseMethodOther = "sw_help_topic_init()";

//objForm.debug = true;
objForm.postUrl = "./admin_insidelink.asp";

function initTabContent(){
	FormEdit.start();
}
</script>
<form id="form1" name="form1" method="get" onsubmit="return false;">

<input type="hidden" name="">
<input type="hidden" name="ID">
<input type="hidden" name="action" value="save">

<div class="mainWindows">
	<div>
		<fieldset><legend><span id="help_topic_icon" onclick="sw_help_topic();"><span id="Language_OperationNotice"></span></span></legend>
        <div id="help_topic"><span id="Language_InsideLink_Help"></span></div>
        </fieldset>
	</div>

	<div style="margin-top: 5px;">
		<fieldset>
			<legend id="Language_InsideLink_Input_Info"></legend>
			<table width="100%" class="edittable">
				<tr>
				  <td width="13%" align="right"><span id="Language_InsideLink_LinkWord"></span></td>
				  <td align="left">&nbsp;<input type="text" name="Word" size="30" dataType="Require"></td>
				</tr>
				<tr>
				  <td align="right"><span id="Language_InsideLink_LinkURL"></span></td>
				  <td align="left">&nbsp;<input type="text" name="Link" size="40" dataType="Require"></td>
				</tr>
				<tr>
				  <td align="right"><span id="Language_InsideLink_Location"></span></td>
				  <td align="left">&nbsp;<select name="Column"></select></td>
				</tr>
				<tr bgcolor="efefef">
				  <td align="left" valign="middle" colspan="4" height="22">&nbsp;<input type="button" name="btnSubmit" id="btnSubmit" onclick="javascript:return objForm.ajaxPost();">&nbsp;<input type="button" name="btnReturn" id="btnReturn" onclick="javascript:ajaxChangeRightContent('./templates/admin_insidelink_list.htm','pageContent');"></td>
				</tr>
			</table>
		</fieldset>
	</div>
</div>

</form>