@charset "utf-8";

body
{
	FONT-FAMILY: 'Lucida Grande','Lucida Sans Unicode','宋体','新宋体',arial,verdana,sans-serif;
	font-size: 12px;
}
#center {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
a
{
	color: #000000;
	text-decoration: none;
}
a:hover
{
	color: #999999;
	text-decoration: underline;
}
TD 
{
	SCROLLBAR-ARROW-COLOR: #666666; 
	SCROLLBAR-BASE-COLOR: #f0faff;
	SCROLLBAR-DARKSHADOW-COLOR: #EEEEEE
}
TR 
{
	SCROLLBAR-ARROW-COLOR: #666666; 
}
form {
	margin: 0;
	padding: 0;
}
table
{
	border: 0;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}
select, textarea {
	FONT-SIZE: 12px;
}
input {
	font-size: 12px;
}
input {
       border: expression((this.type=="button") ?"#7f9db9 1px solid;":"style");
}
.LoginInput 
{
	font-family: "宋体", "Verdana", "Arial";
	font-size:12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	background-color: #F6F6F6;
	height: 17px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #EEEEEE;
	border-bottom-color: #EEEEEE;
	border-left-color: #999999;
}
.question
{
	font-family: "宋体", "Verdana", "Arial";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	border: none;
	background-color: #F6F6F6;
}

.left {
	float: left;
}
.right {
	float: right;
}